/*--- FOOTER BRYAN ---*/

/*------- MEDIA QUERIES -------*/
/*EN DESSOUS DE 800PX DE LARGE*/
@media all and (max-width: 800px) {.wrapper {
        grid-template-columns: 1fr;
    }


    .info-logo-footer, .info-company {
        display: none;
    }

    .info-coords-container {
        display: flex;
        justify-content: center;
    }

}

/*ENTRE 800PX ET 1100PX DE LARGE*/
@media all and (min-width: 800px) and (max-width: 1100px) {.wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .info-logo-footer {
        display: none;
    }
}

/*ENTRE 1100PX ET 1920PX DE LARGE*/
@media all and (min-width: 1100px) and (max-width: 1920px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



.footer-bryan {
    background-color: #262423;
    color: white;
    width: 100%;
    height: 380px;
    position: absolute;
    bottom: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;

}

.info {
    margin: 10px;
    padding : 20px;
}

.logo-svg-footer {
    width: 70px;
}

.text-logo-footer {
    font-size: 36px;
}

.svg-contact {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.coord {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.copyright {
    margin-top: 128px;
}

.links-page-footer {
 margin-top: 25px;
}

.links-page-footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 8px;
}

.svg-reseaux {
    width: 35px;
    filter: invert(1);
    margin-right: 25px;
}