/*NAVBAR*/
/*EN DESSOUS DE 800PX DE LARGE*/
@media all and (max-width: 800px) {
    .links {
        background-color: #2f1748;
        display:flex;
        flex-direction: column;
        position: relative;
        top: 115px;
        float: right;
    }
    .link-page {
        color: white;
        text-decoration : none;
        padding: 12px;
    }

    .display-none{
        display: none;
    }

    .link-page:hover {
        background-color: #484747;
    }

    .burger {
        position: fixed;
        right: 18px;
        display: block;
    }

    .search-bar {
        display: none;
    }
}

/*ENTRE 800PX ET 1100PX DE LARGE*/
@media all and (min-width: 800px) and (max-width: 1100px) {
    .search-bar {
        display: none;
    }

    .burger {
        display: none;
    }
}

/*ENTRE 800PX ET 1920PX DE LARGE*/
@media all and (min-width: 800px) and (max-width: 1920px) {
    .search-bar input {
        width: 400px;
        height: 30px;
        border: none;
        border-radius: 10px;
    }
    .burger {
        display: none;
    }

    .links {
        display:flex;
        align-items: center;
        height: 100%;
        margin-right: 50px;
    }

    .link-page {
        color: white;
        text-decoration : none;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar {
    background-color: #2f1748;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
}

.search-bar button {
    height: 30px;
    border: none;
    border-radius: 10px;
}

.search-bar button:hover {
    background-color: #919090;
}

.logo-navbar {
    color: white;
    margin-left: 20px;
    text-decoration : none;
}

.logo-svg {
    width: 30px;
}

.text-logo {
    font-size: 25px;
}