/* fait par lucas */
@import url(http://weloveiconfonts.com/api/?family=entypo);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
    @font-face {
        font-family: "Neuropol X";
        src: url('../../police/neuropol-x-free.regular.ttf');
    }
    @font-face {
        font-family: "Deltarune";
        src: url('../../police/deltarune.ttf');
    }
    @font-face {
    font-family: "retro";
    src: url('../../police/Retro Gaming.ttf');
}
.logo {
    width: 50px;
}
a {
    font-family: retro;
}
.center {
    text-align: center;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
}

.form_contact {
    background-color: rgb(125, 133, 133);
    width: 35%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 2px darkslategrey;
    border-radius: 5px;
}

.first_name {
    /*background-color: blueviolet;*/
    padding: 5px;
    padding-right: 20px;
}

.last_name {
    /*background-color: aqua;*/
    padding: 5px;
    padding-right: 20px;
}

.message_contact {
    resize: none;
    width: 100%;
    height: 90%;
}

.user_info {
    width: 100%;
}

.contact {
    /*background-color: brown;*/
    padding: 5px;
    padding-right: 20px;
}

.message {
    /*background-color: blueviolet;*/
    padding: 5px;
    padding-right: 9px;
    height: 100%;
}

.send_button {
    margin: auto;
    margin-bottom: 5px;
}

.social_media {
    height: 80px;
    padding: 1px;
}

#sidebar {
    /*background-color: rgb(245, 72, 72);*/
    position: sticky;
    width: 26px;
    top: 20%;
}

.color_contact {
    background-color: rgb(125, 133, 133);
    box-shadow: 3px 3px 2px darkslategrey;
    padding: 5px;
    margin-right: 10px;
    width: 35%;
    border-radius: 5px;
}

.content {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.map {
    width: 100%;
    height: 340px;
}

.title_contact {
    font-size: 100%;
    width: 95%;    
    font-size: inherit;
}

.footer-bryan {
    position: relative !important;
}
