/*Fait par Quentin pour la view News*/
/*police */
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
    font-family: "Neuropol X";
    src: url('../../police/neuropol-x-free.regular.ttf');
}
@font-face {
    font-family: "Deltarune";
    src: url('../../police/deltarune.ttf');
}
@font-face {
  font-family: "retro";
  src: url('../../police/Retro Gaming.ttf');
}
@keyframes fadeInDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
	}
	to {
    transform: rotate(359deg);
  }
}
body {
  margin: 0;
}
/*NAVBAR*/
/*EN DESSOUS DE 800PX DE LARGE*/
@media all and (max-width: 800px) {
  .links {
      background-color: #2f1748;
      display:flex;
      flex-direction: column;
      position: relative;
      top: 115px;
      float: right;
  }
.animation {
  display: none;
}
  .link-page {
      color: white;
      text-decoration : none;
      padding: 12px;
  }

  .display-none{
      display: none;
  }

  .link-page:hover {
      color: cyan;
  }

  .burger {
      right: 18px;
      display: block;
  }

  .search-bar {
      display: none;
  }
}

/*ENTRE 800PX ET 1100PX DE LARGE*/
@media all and (min-width: 800px) and (max-width: 1100px) {
  .search-bar {
      display: none;
  }
  section .animation img {
    display: none;
  }
  .container {
    width: 50%;
  }
  .wrap {
    margin-left: 0;
  }
  .burger {
      display: none;
  }
}

/*ENTRE 800PX ET 1920PX DE LARGE*/
@media all and (min-width: 800px) and (max-width: 1920px) {
  .burger {
      display: none;
  }

  .links {
      display:flex;
      align-items: center;
      height: 100%;
      margin-right: 50px;
  }

  .link-page {
      color: white;
      font-family: retro;
      text-decoration : none;
      margin-right: 20px;
      padding-left: 5px;
      padding-right: 5px;
  }
}

.navbar {
  background-color: #2f1748;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
}

.search-bar button {
  height: 30px;
  border: none;
  border-radius: 10px;
}

.search-bar button:hover {
  color: cyan;
}

.logo-navbar {
  color: white;
  margin-left: 20px;
  text-decoration : none;
}

.logo-svg {
  width: 30px;
}

.text-logo {
  font-size: 25px;
}
/*Finit navbar Bryan*/

  .main_footer_news{
  background-color: white;
  border-bottom: black, solid 1px;
  display: flex; 
  position: sticky;
  top: 0px;
  font-family: "Neuropol X";
  z-index: 1000;
}
.main {
  position: relative;
    margin: 0, 0, 0, 0;
    height: auto;
    width: 100%;
    background-color:white;
    color: white;
    font-family: "Neuropol X";
}

section .animation{
  height: 100px;
  width: auto;
  position: relative;
  color: black;
  text-align: center;
  overflow: hidden;
}
section .animation p{
  margin-left: 16%;
  animation:  fadeInDown 2s;
  font-size: xx-large;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .2rem;
  z-index: 5;
  left: 10%;
  padding-top: 5px;
  background: -webkit-linear-gradient(cyan, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #0005);
}
section .animation img{
  position: absolute;
  right: 21%;
  top: 45%;
  height: 50%;
  opacity: 1;
  animation: bounceInRight 2s;
}
.main_section {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
a {
  text-decoration: none;
  color: white;
}
.container {
    width: 1000px;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* carte */
.wrap{
  height:200px;
  width:300px;
  overflow:hidden;
  position:relative;
  background: #ffffff;
  margin:30px auto 0;
}
/* taille */
.front, .back{
  width:90%;
  height:100%;
}


/* Front */ 
.front{}
.front img{
  max-width: 100%;
  width:auto;
}
.front p:before{
  margin-right:5px;
  background:#0A6E3B;
  height:40px;
  width:40px;
  font-size:20px;
  display:block;
  text-align:center;
  float:left;
  border-right:1px solid #51D491;
}
.front p{
  position:relative;
  top:-60px;
  background:rgb(19, 88, 53);
  line-height:40px;
  
  transition:all .4s;
}

/* back */
.back{
  opacity:0;
  background:#0A6E3B;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  
  transition:all .2s linear;
}
.back h1:before{
  background:white;
  font-size:46px;
  line-height:85px;
  width:85px;
  border-radius:40px;
  margin:0 auto;
  display:block;
  text-align:center;
  position:relative;
  overflow:hidden;
  margin-bottom:110px;
  top:-60px;
  box-shadow:0px 0px 2px 0px black;
  transform: scale(2.5);

  transition:all .3s ease;
}
.back h1{
  text-align:center;
  font-size:20px;
  margin:10px 0;
  position:relative;
 
}
.back p{
  font-size:10px;
  text-align:center;
  margin:0 5px;
  position:relative;
  top:200px;
  
  transition:all .3s linear .2s;
}

/* effet */
.wrap:hover { cursor:pointer;}
.wrap:hover .front p{
  top:0;
}
.wrap .back:hover{
  opacity:1;
}
.wrap .back:hover h1:before,
.wrap .back:hover p{
  top:0;
  margin-bottom:0;
}
.wrap .back:hover h1:before{
  	transform: scale(1);
}
.main_footer_news {
    margin:0;
    padding:0;
    font-size: 25px;
    position: relative;
}
.main_footer_news fieldset{
  color: black;
  height: 100px;
  width: 100%;
}
.main_footer_news fieldset  img{
  height: 15%;
  vertical-align: -10%;
}
.telephone{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.telephone img{
  height: 17px;
    vertical-align: 10%;
}
.main_footer_news fieldset  a{
  color: black;
  margin-left: 5px;
  font-size: 0.5em;
}
.main_footer_news fieldset p{
  font-size: 0.45em;
  margin-top: 0;
}
.main_footer_news ul {
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  .main_footer_news ul li {
    list-style:none;
  }
  .main_footer_news ul li a {
  /*   ?? */
    display:block;
    position:relative;
    width: 50px;
    height:50px;
    line-height: 50px;
    text-align: center;
  /*   background: #ccc; */
    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
  }
  .main_footer_news ul li a span {
    position: absolute;
    transition: transform .5s;
  }
  .main_footer_news ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #262626;
  }
  .main_footer_news ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  .main_footer_news ul li a:hover span:nth-child(1) {
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }
  
  .main_footer_news ul li a span:nth-child(3) {
    bottom: 0;
    right: 0;
    transform-origin: left;
  }
  .main_footer_news ul li a:hover span:nth-child(3) {
    transform:scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }
  
  /* vertical */
  
  .main_footer_news ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    height: 100%;
    width: 1px;
    background: #262626;
  }
  .main_footer_news ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .main_footer_news ul li a:hover span:nth-child(2) {
    transform:scaleY(1);
    transform-origin: top;
    transition: transform .5s;
  }
  
  .main_footer_news ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform:scaleY(0);
    transform-origin: top;
  }
  .main_footer_news ul li a:hover span:nth-child(4) {
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
  }
  .main_footer_news fieldset .space{
    height: 50%;
    position: absolute;
    right: 10px;
    top: 30%;
    animation: rotate 2s linear infinite;
  }
  .end{
    color: black;
    text-align: center;
    font-size: small;
  }
/*fin du fichier css pour news fait par Monsieur Quentin levis*/
