body {
    padding-top: 4rem;
    /*background-image: url("http://www.emuline.org/uploads/gallery/album_1/gallery_1_1_1372281.jpg");*/
    /*background-size: 100%;*/
}

@media all and (max-width: 500px) {
    .menu-trie {
        display: none;
    }

    .products-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 800px) {
    .menu-trie {
        display: none;
    }

    .products-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 800px) and (max-width: 1200px){
    .menu-trie {
        display: block;
    }
    .products-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1200px){
    .products-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@font-face {
    font-family: "Tinos";
    src: url('../../police/Tinos/Tinos-Regular.ttf');
}



h1, h2, h3, p, a, label {
    font-family: "Tinos", serif;
    color: white;
}

h1 {
    text-align: center;
    color: black;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main {
    display: flex;
    max-width: 1120px;
}

.menu-trie {
    width: 350px;
    background-color: #26621f;
}

.title-filtre {
    background-color: #2f1748;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.categories {
    padding: 30px;
}

.categories button {
    background-color: #2f1748;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

.categories button:hover {
    background-color: #3e4eed;
}

.separateur {
    margin-top: 20px;
}

.products-list {
    background-color: rgba(0, 0, 0, 0.85);
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    list-style:none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item {
    margin: 5px;
}

.product {
    width: 100%;
}

.product-image img {
    width: 100%;
}

.product-info {
    padding: 5px;
}

.product-info p {
    margin: 0;

}

.product-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.price {
    font-size: 1.5rem;
}

/*NOTE ETOILES*/

.rating {
    direction: rtl;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 30px;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.footer-bryan {
    position: relative;
}
