/* css style team */

/*police Quentin*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
    font-family: "Neuropol X";
    src: url('../../police/neuropol-x-free.regular.ttf');
}
@font-face {
    font-family: "Deltarune";
    src: url('../../police/deltarune.ttf');
}
@font-face {
  font-family: "retro";
  src: url('../../police/Retro Gaming.ttf');
}
@keyframes fadeInDown {
    from {
      opacity: 1;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
body{
    margin: 0;
}

/*quentin*/
.header_news{
    display: flex;
    background-color: #644ca2;
    border-radius: 2%;
   height: 50px;
   width: 1000px;
  }

  /*quentin*/
    .header_news h1 {
    margin-top: 7px;
    margin-right: 5px;
    color: black;
    font-size: 1em;
    height: 100%;
    text-transform: uppercase;
    font-family: Neuropol X;
  }
  .header_news a img{
    width: 35%;
  }

  .logo {
    position: relative;
    background-image: url('../../image/general/logo.png');
    width: 100px;
    height: 50px;
}
.logo a img{
    position: absolute;
    width: 90%;
    height: 90%;
}
.header_news nav{
  display: flex;
  height: 40px;
  width: 650px;
  font-size: medium;
	justify-content: space-between;
	border: solid, 2px;
	border-color: #644ca2;
	border-radius: 5px;
	background-color: #644ca2;
}
.header_news a {
    color: white;
    font-family: "retro";
    text-align: center;
    margin: 10px;
}
.header_news a:hover{
  color: cyan; 
}
.header_news nav {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #644ca2;
    height: 40px;
    width: 650px;
    font-size: medium;
}
  /*Aurore*/
.titre{
    color:black;
    text-align:center;
    text-shadow: 5px 6px 4px grey;
    font-family: "Tinos", serif;
}

.intro{
    text-align: center;
    color:black<;
    font-size: 20px;
}

/* 1 container to have four cards : 2 in the first row and 2 others in the second 
   used grid to organise the presentation*/

.containercard{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 30px;
}

.carte {
    border-color: black;
    border-style: inset;
    color: black;
    font-family: "Tinos", serif;
    border-radius: 24px;
    margin: auto;
    width:60%;
    background-color: #6e4b94;
}

.poste{
    grid-area: poste;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    color:rgb(126, 212, 184);
    height: 100px;
}

@media screen and (max-width: 700px) {
  .poste{
    font-size: 15px;
  }
}

.image{
    display: grid;
    align-content: center;
    height : 40%;
    width: 40%;
    margin: auto;
}
@media screen and (max-width: 700px) {
  .poste{
    font-size: 20µ;
  }
}

.coordonnees{
    height: 50px;
    border-style: double;
    padding: 10px;
    background-color: rgb(76, 187, 129);
    border-radius: 10px;
    margin: 10px;
}

@media screen and (max-width: 700px) {
  .coordonnees{
    font-size: 10px;
  }
}

.pres{
    display: grid;
    padding: 10px;
    background-color: rgb(76, 187, 129);
    margin:10px;
    border-radius: 10px;
    padding : auto;  
    height: 100px;  
}

@media screen and (max-width: 700px) {
  .pres{
     font-size: 10px;
  }
}
/*@media(min-width:700px) {
  .grid {
    grid-template-areas: 
      ';
  }
}*/


/*Quentin*/
.main_footer_news {
    margin:0;
    padding:0;
    font-size: 25px;
    position: relative;
}
.main_footer_news fieldset{
  color: black;
  height: 100px;
  width: 100%;
}
.main_footer_news fieldset  img{
  height: 15%;
  vertical-align: -10%;
}
.telephone{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.telephone img{
  height: 17px;
    vertical-align: 10%;
}
.main_footer_news fieldset  a{
  color: black;
  margin-left: 5px;
  font-size: 0.5em;
}
.main_footer_news fieldset p{
  font-size: 0.45em;
  margin-top: 0;
}
.main_footer_news ul {
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  .main_footer_news ul li {
    list-style:none;
  }
  .main_footer_news ul li a {
  /*   ?? */
    display:block;
    position:relative;
    width: 50px;
    height:50px;
    line-height: 50px;
    text-align: center;
  /*   background: #ccc; */
    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
  }
  .main_footer_news ul li a span {
    position: absolute;
    transition: transform .5s;
  }
  .main_footer_news ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #262626;
  }
  .main_footer_news ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  .main_footer_news ul li a:hover span:nth-child(1) {
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }
  
  .main_footer_news ul li a span:nth-child(3) {
    bottom: 0;
    right: 0;
    transform-origin: left;
  }
  .main_footer_news ul li a:hover span:nth-child(3) {
    transform:scaleX(0);
    transform-origin: right;
    transition: transform .5s;
  }
  
  /* vertical */
  
  .main_footer_news ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    height: 100%;
    width: 1px;
    background: #262626;
  }
  .main_footer_news ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .main_footer_news ul li a:hover span:nth-child(2) {
    transform:scaleY(1);
    transform-origin: top;
    transition: transform .5s;
  }
  
  .main_footer_news ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform:scaleY(0);
    transform-origin: top;
  }
  .main_footer_news ul li a:hover span:nth-child(4) {
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
  }
  .main_footer_news fieldset .space{
    height: 50%;
    position: absolute;
    right: 10px;
    top: 30%;
  }
  .end{
    color: black;
    text-align: center;
    font-size: small;
  }
    .animation{
    height: 100px;
    width: auto;
    position: relative;
    color: black;
    text-align: center;
    overflow: hidden;
  }
    .animation p{
    animation:  fadeInDown 2s;
    font-size: xx-large;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: .2rem;
    z-index: 5;
    left: 29%;
    padding-top: 5px;
    background: -webkit-linear-gradient(cyan, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0005);
  }
    .animation img{
    position: absolute;
    right: 17%;
    top: 45%;
    height: 50%;
    opacity: 1;
    animation: bounceInRight 2s;
  }

  /*bryan*/
  .footer-bryan {
    position:  relative !important;
  }